<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content ="IE-edge">
    <meta name="viewport" content="width-device - width, initial - scale-1.0">
    <title>Model Deployement</title>
</head>
<body>
    <h1>Predict the Profit<h1>
    <p>
        Enter The Reasearch and Development , admin, Marketing Costs, State
    <p>
    <form action="/" method="POST">
          <input  type="number" name="R&D" placeholder="Reasexrch and development Costs">
          <input  type="number" name="Admin" placeholder="Admin Costs">
          <input  type="number" name="Market" placeholder="Marketing Costs">
          <input  type="number" name="NewYork" placeholder="Is_it_NewYork">
          <input  type="number" name="California" placeholder="Is_it_california">
          <!-- <input  type="number" name="Florida" placeholder="Is_it_floriida"> -->
          <input  type="submit">
    <form>
    <p>Results</p>
    {{data}}

</body>
</html>